.header {
    padding-top: 60px;
    &__inner {
        padding-left: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    & li {
        & > a {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #6a6f77;
            transition: all 0.5s;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 2px;
                border-radius: 2px;
                background-color: #ff7b29;
                bottom: -3px;
                left: 2px;
                transition: all 0.5s;
            }
        }
        & + li {
            margin-left: 34px;
        }
        &:hover a {
            color: #2d3134;
            &::after {
                width: 12px;
            }
        }
        &:nth-last-child(1) a {
            padding: 16px 22px;
            background: #ff7b29;
            border-radius: 8px;
            color: #ffffff;
            &::after {
                content: none;
            }
        }
    }
}
