header.header 
    .container 
        .header__inner 
            .header__logo 
                img(src="./image/logo.svg", alt="Maktab va maktabgacha ta'lim vazirligi")
            nav.header__menu 
                ul
                    li
                        a(href="#") Vazirlik
                    li
                        a(href="#") Ta'lim
                    li
                        a(href="#") Faoliyat
                    li
                        a(href="#") Axborot xizmati
                    li
                        a(href="#") Xujjatlar
                    li
                        a(href="#") Fuqarolar murojati 
                    li 
                        a(href="#") Our Collections 